# 0. Imports

In [466]:
import pandas as pd
import numpy as np

# 1. Loading Data

In [467]:
df_matches1 = pd.read_csv('./datasets/WorldCupMatches.csv')
df_economic1 = pd.read_csv('./datasets/WorldBankData.csv')
df_elo1 = pd.read_csv('./datasets/elo_rating.csv')
df_ranking1 = pd.read_csv('./datasets/fifa_ranking_before_wc.csv')

In [468]:
df_matches1.head()

,Unnamed: 0,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,0,1930,13 Jul 1930 - 15:00,France,Mexico,4.0,1.0
1,1,1930,13 Jul 1930 - 15:00,USA,Belgium,3.0,0.0
2,2,1930,14 Jul 1930 - 12:45,Yugoslavia,Brazil,2.0,1.0
3,3,1930,14 Jul 1930 - 14:50,Romania,Peru,3.0,1.0
4,4,1930,15 Jul 1930 - 16:00,Argentina,France,1.0,0.0

In [469]:
df_economic1.head()

,Unnamed: 0,Country Name,Country Code,Series Name,YR1993,YR1997,YR2001,YR2005,YR2009,YR2013,YR2017,YR2020
0,0,Afghanistan,AFG,GDP,..,..,..,6209137624.77181,12416161048.8412,20146404996.223,18753469630.2586,20116137325.8206
1,1,Afghanistan,AFG,POP,15816601,19357126,21606992,25654274,28394806,32269592,36296111,38928341
2,2,Afghanistan,AFG,INC,..,..,..,..,397.870876381663,573.372758018691,486.034777839794,475.620362308779
3,3,Albania,ALB,GDP,1185315468.46295,2258513974.0968,3922100793.5403,8052073539.38058,12044208085.864,12776220507.0162,13019689336.6919,15131866270.5936
4,4,Albania,ALB,POP,3227287,3148281,3060173,3011487,2927519,2895092,2873457,2837849

In [470]:
df_elo1.head()

,Year,RK,Team,Rating,AverageRank,AverageRating,YearRank,YearRating,MatchesTotal,MathcesHome,MatchesAway,MatchesNeutral,MatchesWins,MatchesLosses,MatchesDraws,GoalsFor,GoalsAgainst
0,1989,1,Netherlands,2048,19,1790,0,+1,474,231,205,38,220,162,92,1002,769
1,1989,2,Brazil,2008,5,1976,0,+12,533,223,174,136,331,97,105,1172,556
2,1989,3,West Germany,2001,9,1875,+1,+18,565,254,243,68,315,138,112,1287,740
3,1989,4,Italy,1964,8,1896,+1,−13,467,224,178,65,246,104,117,879,537
4,1989,5,Sweden,1960,15,1780,+1,+8,661,308,305,48,329,204,128,1497,1013

In [471]:
df_ranking1.head()

   WorldCup  RK            Team   PTS
0      1994   1      GermanyGER  60.0
1      1994   2  NetherlandsNED  59.0
2      1994   3       BrazilBRA  59.0
3      1994   4        ItalyITA  57.0
4      1994   5        SpainESP  56.0

# 2. Data Cleaning e Conversions

## 2.1 Main Dataset - WorldCup Matches

In [472]:
df_matches2 = df_matches1[df_matches1['Year'] > 1990].drop(['Unnamed: 0'], axis=1)

In [473]:
df_matches2.isna().sum()

Year                0
Datetime            0
Home Team Name      0
Away Team Name      0
Home Team Goals    48
Away Team Goals    48
dtype: int64

Changing data types

In [474]:
df_matches2.dtypes

Year                 int64
Datetime            object
Home Team Name      object
Away Team Name      object
Home Team Goals    float64
Away Team Goals    float64
dtype: object

In [475]:
df_matches2['Datetime'] = pd.to_datetime(df_matches2.Datetime)

In [476]:
df_matches2.dtypes

Year                        int64
Datetime           datetime64[ns]
Home Team Name             object
Away Team Name             object
Home Team Goals           float64
Away Team Goals           float64
dtype: object

In [477]:
df_synth = pd.read_csv('./datasets/synth_data.csv')

In [478]:
df_synth['Datetime'] = pd.to_datetime(df_synth['Datetime'])

In [479]:
df_matches2 = pd.concat([df_matches2, df_synth], axis=0, ignore_index=True)

In [480]:
df_matches2 = df_matches2.drop('Unnamed: 0', axis=1)

In [481]:
df_matches2

,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,1994,1994-06-17 19:30:00,Spain,Korea Republic,2.0,2.0
1,1994,1994-06-17 15:00:00,Germany,Bolivia,1.0,0.0
2,1994,1994-06-18 11:30:00,USA,Switzerland,1.0,1.0
3,1994,1994-06-18 16:00:00,Italy,"rn"">Republic of Ireland",0.0,1.0
4,1994,1994-06-18 19:30:00,Colombia,Romania,1.0,3.0
...,...,...,...,...,...,...
547,2018,2018-10-16 00:00:00,Uzbekistan,Qatar,2.0,0.0
548,2018,2018-11-14 00:00:00,Switzerland,Qatar,0.0,1.0
549,2018,2018-11-18 00:00:00,St. Kitts and Nevis,Canada,0.0,1.0
550,2018,2018-11-19 00:00:00,Iceland,Qatar,2.0,2.0
551,2018,2018-11-20 00:00:00,Albania,Wales,1.0,0.0

## 2.2 Economic Variables

In [482]:
df_economic2 = df_economic1.copy()

In [483]:
df_economic2.head()

,Unnamed: 0,Country Name,Country Code,Series Name,YR1993,YR1997,YR2001,YR2005,YR2009,YR2013,YR2017,YR2020
0,0,Afghanistan,AFG,GDP,..,..,..,6209137624.77181,12416161048.8412,20146404996.223,18753469630.2586,20116137325.8206
1,1,Afghanistan,AFG,POP,15816601,19357126,21606992,25654274,28394806,32269592,36296111,38928341
2,2,Afghanistan,AFG,INC,..,..,..,..,397.870876381663,573.372758018691,486.034777839794,475.620362308779
3,3,Albania,ALB,GDP,1185315468.46295,2258513974.0968,3922100793.5403,8052073539.38058,12044208085.864,12776220507.0162,13019689336.6919,15131866270.5936
4,4,Albania,ALB,POP,3227287,3148281,3060173,3011487,2927519,2895092,2873457,2837849

Replacing '..' by nan

In [484]:
# Filling '..' as np.nan
df_economic2[df_economic2 == '..'] = np.nan

Chaning types

In [485]:
df_economic2.dtypes

Unnamed: 0       int64
Country Name    object
Country Code    object
Series Name     object
YR1993          object
YR1997          object
YR2001          object
YR2005          object
YR2009          object
YR2013          object
YR2017          object
YR2020          object
dtype: object

In [486]:
df_economic2.YR1993 = df_economic2.YR1993.astype('float')
df_economic2.YR1997 = df_economic2.YR1997.astype('float')
df_economic2.YR2001 = df_economic2.YR2001.astype('float')
df_economic2.YR2005 = df_economic2.YR2005.astype('float')
df_economic2.YR2009 = df_economic2.YR2009.astype('float')
df_economic2.YR2013 = df_economic2.YR2013.astype('float')
df_economic2.YR2017 = df_economic2.YR2017.astype('float')
df_economic2.YR2020 = df_economic2.YR2020.astype('float')

In [487]:
df_economic2.dtypes

Unnamed: 0        int64
Country Name     object
Country Code     object
Series Name      object
YR1993          float64
YR1997          float64
YR2001          float64
YR2005          float64
YR2009          float64
YR2013          float64
YR2017          float64
YR2020          float64
dtype: object

In [488]:
# columns were renamed to match with the respective worldcup
# 2021 were not used due missing values

df_economic2.columns = ['Unnamed: 0',
                        'Country Name',
                        'Country Code',
                        'Series Name',
                        'YR1994',
                        'YR1998',
                        'YR2002',
                        'YR2006',
                        'YR2010',
                        'YR2014',
                        'YR2018',
                        'YR2022']

## 2.3 Elo Rating

In [489]:
df_elo2 = df_elo1.copy()

In [490]:
df_elo2.head()

,Year,RK,Team,Rating,AverageRank,AverageRating,YearRank,YearRating,MatchesTotal,MathcesHome,MatchesAway,MatchesNeutral,MatchesWins,MatchesLosses,MatchesDraws,GoalsFor,GoalsAgainst
0,1989,1,Netherlands,2048,19,1790,0,+1,474,231,205,38,220,162,92,1002,769
1,1989,2,Brazil,2008,5,1976,0,+12,533,223,174,136,331,97,105,1172,556
2,1989,3,West Germany,2001,9,1875,+1,+18,565,254,243,68,315,138,112,1287,740
3,1989,4,Italy,1964,8,1896,+1,−13,467,224,178,65,246,104,117,879,537
4,1989,5,Sweden,1960,15,1780,+1,+8,661,308,305,48,329,204,128,1497,1013

Some DataCleaning

In [491]:
def adjust_rank(row):
    if row['YearRank'] == '−':
        row['YearRank'] = np.nan
    else:
        row['YearRank'] = row['YearRank'].replace('−','-')
        row['YearRank'] = row['YearRank'].replace('+','')

    return row['YearRank']

def adjust_rating(row):
    if row['YearRating'] == '−':
        row['YearRating'] = np.nan
    else:
        row['YearRating'] = row['YearRating'].replace('−','-')
        row['YearRating'] = row['YearRating'].replace('+','')

    return row['YearRating']

df_elo2['YearRank'] = df_elo2.apply(adjust_rank, axis=1)
df_elo2['YearRating'] = df_elo2.apply(adjust_rating, axis=1)

In [492]:
df_elo2.dtypes

Year               int64
RK                 int64
Team              object
Rating             int64
AverageRank        int64
AverageRating      int64
YearRank          object
YearRating        object
MatchesTotal       int64
MathcesHome        int64
MatchesAway        int64
MatchesNeutral     int64
MatchesWins        int64
MatchesLosses      int64
MatchesDraws       int64
GoalsFor           int64
GoalsAgainst       int64
dtype: object

In [493]:
df_elo2.YearRank = df_elo2.YearRank.astype('Int64')
df_elo2.YearRating = df_elo2.YearRating.astype('Int64')

In [494]:
df_elo2.dtypes

Year               int64
RK                 int64
Team              object
Rating             int64
AverageRank        int64
AverageRating      int64
YearRank           Int64
YearRating         Int64
MatchesTotal       int64
MathcesHome        int64
MatchesAway        int64
MatchesNeutral     int64
MatchesWins        int64
MatchesLosses      int64
MatchesDraws       int64
GoalsFor           int64
GoalsAgainst       int64
dtype: object

## 2.5 FIFA Ranking

In [495]:
df_ranking2 = df_ranking1.copy()

In [496]:
df_ranking2.head()

   WorldCup  RK            Team   PTS
0      1994   1      GermanyGER  60.0
1      1994   2  NetherlandsNED  59.0
2      1994   3       BrazilBRA  59.0
3      1994   4        ItalyITA  57.0
4      1994   5        SpainESP  56.0

In [497]:
def filter_name(row):
    # remove the initials at the end of team name
    return row['Team'][0:-3]

df_ranking2['Team'] = df_ranking2.apply(filter_name, axis=1)

In [498]:
df_ranking2

      WorldCup   RK                    Team     PTS
0         1994    1                 Germany   60.00
1         1994    2             Netherlands   59.00
2         1994    3                  Brazil   59.00
3         1994    4                   Italy   57.00
4         1994    5                   Spain   56.00
...        ...  ...                     ...     ...
1570      2022  207               Sri Lanka  825.25
1571      2022  208       US Virgin Islands  823.97
1572      2022  209  British Virgin Islands  809.32
1573      2022  210                Anguilla  790.74
1574      2022  211              San Marino  762.22

[1575 rows x 4 columns]

## 2.6 Merging DataFrames

In [499]:
df_matches21 = df_matches2.copy()
df_economic21 = df_economic2.copy()
df_elo21 = df_elo2.copy()

### 2.6.1 Merging DataFrames - Matches and Economic

In [500]:
list_economic_countries = df_economic21['Country Name'].unique().tolist()
list_matches_countries_home = df_matches21['Home Team Name'].unique().tolist()
list_matches_countries_away = df_matches21['Away Team Name'].unique().tolist()

In [501]:
# Checking if home and away teams are the same
missing_home = []
missing_away = []

def check_missing(home_list, df_check, column_name='Away Team Name'):
    missing_list = []
    for team in home_list:
        if not ((team == df_check[column_name]).unique()).any():
            missing_list.append(team)
    
    return missing_list

missing_in_away = check_missing(list_matches_countries_home, df_matches21, column_name='Away Team Name')
missing_in_home = check_missing(list_matches_countries_away, df_matches21, column_name='Home Team Name')

In [502]:
print(f'Missing Home Team = {missing_in_home}')
print(f'Missing Away = {missing_in_away}')

Missing Home Team = ['Austria', 'Kuwait', 'Jordan', 'Indonesia', 'Lebanon', 'Bosnia and Herzegovina', 'Cyprus', 'Estonia', 'Syria', 'Palestine', 'Dominica', 'Kyrgyz Republic']
Missing Away = ['Moldova', 'North Macedonia', 'Andorra', 'Yemen', 'Iraq', 'US Virgin Islands', 'St. Kitts and Nevis', 'Albania']

In [503]:
list_matches_countries_home = list_matches_countries_home + missing_in_home
list_matches_countries_away = list_matches_countries_away + missing_in_away

In [504]:
# checking if are the same now
list_matches_countries_away.sort()
list_matches_countries_home.sort()

list_matches_countries_away == list_matches_countries_home

True

In [505]:
# Check missing teams in economic variables
list_countries_economic = df_economic21['Country Name'].unique().tolist()
missing_list = check_missing(list_matches_countries_home, df_economic21, column_name='Country Name')

In [506]:
missing_list

['China PR',
 'Czech Republic',
 "C�te d'Ivoire",
 'Egypt',
 'England',
 'IR Iran',
 'Iran',
 'Korea DPR',
 'Korea Republic',
 'Palestine',
 'Republic of Ireland',
 'Russia',
 'Scotland',
 'Slovakia',
 'Syria',
 'Turkey',
 'US Virgin Islands',
 'USA',
 'Wales',
 'Yemen',
 'Yugoslavia',
 'rn">Bosnia and Herzegovina',
 'rn">Republic of Ireland',
 'rn">Serbia and Montenegro',
 'rn">Trinidad and Tobago']

In [507]:
# took from missing_list
correct_names = {'China PR': 'China',
                 'Czech Republic': 'Czechia',
                 "C�te d'Ivoire": 'Cote d\'Ivoire',
                 "Côte d'Ivoire": 'Cote d\'Ivoire',
                 'Republic of Ireland': 'Ireland',
                 'Egypt': 'Egypt, Arab Rep.',
                 #'England': 'United Kingdom',-  Not found in economic dataset - Will be filled as united kingdom
                 'IR Iran': 'Iran, Islamic Rep.',
                 'Iran': 'Iran, Islamic Rep.',
                 'Korea DPR': 'Korea, Dem. People\'s Rep.',
                 'Korea Republic': 'Korea, Rep.',
                 'Russia': 'Russian Federation',
                 'Venezuela':'Venezuela, RB',
                 'US Virgin Islands': 'Virgin Islands (U.S.)',
                 # 'Scotland': 'United Kingdom' - Not found in economic dataset - Will be filled as united kingdom
                 'Slovakia': 'Slovak Republic',
                 'Turkey': 'Turkiye',
                 'USA': 'United States',
                 #'Yugoslavia' - Not found in economic dataset
                 'rn">Bosnia and Herzegovina': 'Bosnia and Herzegovina',
                 'rn">Republic of Ireland': 'Ireland',
                 'rn">Serbia and Montenegro': 'Serbia',
                 'rn">Trinidad and Tobago': 'Trinidad and Tobago'}

In [508]:
df_matches21['Home Team Name'] = df_matches21['Home Team Name'].map(correct_names).fillna(df_matches21['Home Team Name'])
df_matches21['Away Team Name'] = df_matches21['Away Team Name'].map(correct_names).fillna(df_matches21['Away Team Name'])

In [509]:
list_matches_countries_home = df_matches21['Home Team Name'].unique().tolist()

In [510]:
# Check missing teams in economic variables again
missing_list_home = check_missing(list_matches_countries_home, df_matches21, column_name='Home Team Name')
missing_list_away = check_missing(list_matches_countries_home, df_matches21, column_name='Away Team Name')

In [511]:
print(f'Missing Home Team = {missing_list_home}')
print(f'Missing Away = {missing_list_away}')

Missing Home Team = []
Missing Away = ['Moldova', 'North Macedonia', 'Andorra', 'Yemen', 'Iraq', 'Virgin Islands (U.S.)', 'St. Kitts and Nevis', 'Albania']

In [512]:
def add_economic_attributes(df_economic21, df_matches21):
    for row in df_matches21.index:
        year_match = df_matches21.loc[row, 'Year']
        if (df_economic21['Country Name'] == df_matches21.loc[row, 'Home Team Name']).any():
            df_matches21.loc[row, 'Home_GDP'] = df_economic21[(df_economic21['Country Name'] == df_matches21.loc[row, 'Home Team Name']) & (df_economic21['Series Name'] == 'GDP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Home_POP'] = df_economic21[(df_economic21['Country Name'] == df_matches21.loc[row, 'Home Team Name']) & (df_economic21['Series Name'] == 'POP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Home_INC'] = df_economic21[(df_economic21['Country Name'] == df_matches21.loc[row, 'Home Team Name']) & (df_economic21['Series Name'] == 'INC')][f'YR{year_match}'].values[0]
        
        elif (df_matches21.loc[row, 'Home Team Name'] == 'England'): # or df_matches21.loc[row, 'Home Team Name'] == 'Scotland' or df_matches21.loc[row, 'Home Team Name'] == 'Wales'):
            df_matches21.loc[row, 'Home_GDP'] = df_economic21[(df_economic21['Country Name'] == 'United Kingdom') & (df_economic21['Series Name'] == 'GDP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Home_POP'] = df_economic21[(df_economic21['Country Name'] == 'United Kingdom') & (df_economic21['Series Name'] == 'POP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Home_INC'] = df_economic21[(df_economic21['Country Name'] == 'United Kingdom') & (df_economic21['Series Name'] == 'INC')][f'YR{year_match}'].values[0]

        if (df_economic21['Country Name'] == df_matches21.loc[row, 'Away Team Name']).any():
            df_matches21.loc[row, 'Away_GDP'] = df_economic21[(df_economic21['Country Name'] == df_matches21.loc[row, 'Away Team Name']) & (df_economic21['Series Name'] == 'GDP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Away_POP'] = df_economic21[(df_economic21['Country Name'] == df_matches21.loc[row, 'Away Team Name']) & (df_economic21['Series Name'] == 'POP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Away_INC'] = df_economic21[(df_economic21['Country Name'] == df_matches21.loc[row, 'Away Team Name']) & (df_economic21['Series Name'] == 'INC')][f'YR{year_match}'].values[0]
        
        elif (df_matches21.loc[row, 'Away Team Name'] == 'England'): # or df_matches21.loc[row, 'Away Team Name'] == 'Scotland' or df_matches21.loc[row, 'Home Team Name'] == 'Wales'):
            df_matches21.loc[row, 'Away_GDP'] = df_economic21[(df_economic21['Country Name'] == 'United Kingdom') & (df_economic21['Series Name'] == 'GDP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Away_POP'] = df_economic21[(df_economic21['Country Name'] == 'United Kingdom') & (df_economic21['Series Name'] == 'POP')][f'YR{year_match}'].values[0]
            df_matches21.loc[row, 'Away_INC'] = df_economic21[(df_economic21['Country Name'] == 'United Kingdom') & (df_economic21['Series Name'] == 'INC')][f'YR{year_match}'].values[0]

    return df_matches21

In [513]:
df_match_eco = add_economic_attributes(df_economic21, df_matches21)

In [514]:
df_match_eco.isna().sum()

Year                0
Datetime            0
Home Team Name      0
Away Team Name      0
Home Team Goals    48
Away Team Goals    48
Home_GDP           14
Home_POP           13
Home_INC           22
Away_GDP           18
Away_POP           15
Away_INC           26
dtype: int64

### 2.6.2 Merging DataFrames - Matches, Economic and Elo Rating

In [515]:
missing_list = check_missing(list_matches_countries_home, df_elo21, 'Team')

In [516]:
missing_list

['Korea, Rep.',
 'Russian Federation',
 'Turkiye',
 'Iran, Islamic Rep.',
 "Cote d'Ivoire",
 'Slovak Republic',
 "Korea, Dem. People's Rep.",
 'Egypt, Arab Rep.',
 'Virgin Islands (U.S.)',
 'St. Kitts and Nevis']

In [517]:
correct_names_elo = {
 'Ivory Coast': "Cote d'Ivoire",
 'Egypt': 'Egypt, Arab Rep.',
 'Iran': 'Iran, Islamic Rep.',
 'North Korea': "Korea, Dem. People's Rep.",
 'South Korea': 'Korea, Rep.',
 'Russia': 'Russian Federation',
 'Slovakia': 'Slovak Republic',
 'Turkey': 'Turkiye',
 'Serbia and Montenegro': 'Serbia',
 'Venezuela': 'Venezuela, RB',
 'British Virgin Islands': 'Virgin Islands (U.S.)',
 'Saint Kitts and Nevis': 'St. Kitts and Nevis',
 'Saint Lucia': 'St. Lucia',
 'Macedonia': 'North Macedonia',
 "Côte d'Ivoire": 'Cote d\'Ivoire',
}

In [518]:
df_elo21['Team'] = df_elo21['Team'].map(correct_names_elo).fillna(df_elo21['Team'])
missing_list = check_missing(list_matches_countries_home, df_elo21, 'Team')
missing_list

In [ ]:
elo_columns = ['Year', 'Team', 'RK', 'Rating', 'AverageRank', 'AverageRating',
               'YearRank', 'YearRating', 'MatchesTotal', 'MathcesHome', 'MatchesAway',
               'MatchesNeutral', 'MatchesWins', 'MatchesLosses', 'MatchesDraws',
               'GoalsFor', 'GoalsAgainst']

In [ ]:
cols_to_diff = ['MatchesTotal', 'MathcesHome','MatchesAway', 'MatchesNeutral', 'MatchesWins', 'MatchesLosses', 'MatchesDraws', 'GoalsFor', 'GoalsAgainst']
colst_not_diff = ['Year', 'RK', 'Team', 'Rating', 'AverageRank', 'AverageRating', 'YearRank' ,'YearRating']

In [ ]:
# since that we h
list_of_teams_elo = df_elo21['Team'].unique().tolist()
df_elo22 = pd.DataFrame()
for team in list_of_teams_elo:
    df_diff = df_elo21[df_elo21['Team'] == team].sort_values(by='Year', ascending=True)[cols_to_diff].diff().reset_index()
    df_merged = pd.merge(df_elo21[df_elo21['Team'] == team].sort_values(by='Year', ascending=True)[colst_not_diff].reset_index(), df_diff, on='index') 
    df_elo22 = pd.concat([df_elo22, df_merged], axis=0)

In [ ]:
def add_elo_rating(df_elo2, df_match_eco, elo_columns):  

    for row in df_match_eco.index:
        for column in elo_columns[2:]:
            year_match = df_match_eco.loc[row, 'Year']
            if (df_elo2['Team'] == df_match_eco.loc[row, 'Home Team Name']).any():
                df_match_eco.loc[row, 'Home_' + column] = df_elo2[(df_elo2['Team'] == df_match_eco.loc[row, 'Home Team Name']) & (df_elo2['Year'] == year_match - 1)][column].values[0]
            
            else: 
                df_match_eco.loc[row, 'Home_' + column] = np.nan
    
            if (df_elo2['Team'] == df_match_eco.loc[row, 'Away Team Name']).any():
                df_match_eco.loc[row, 'Away_' + column] = df_elo2[(df_elo2['Team'] == df_match_eco.loc[row, 'Away Team Name']) & (df_elo2['Year'] == year_match - 1)][column].values[0]
            
            else: 
                df_match_eco.loc[row, 'Away_' + column] = np.nan
            
    return df_match_eco

In [ ]:
df_match_eco_elo = add_elo_rating(df_elo22, df_match_eco, elo_columns)

## 2.6.3 Merging DataFrames - Matches, Economic, Elo Rating and FIFA Ranking

In [ ]:
list_names_fifa = df_ranking2['Team'].unique().tolist()
list_matches_countries_home = df_match_eco_elo['Home Team Name'].unique().tolist()

In [ ]:
missing_list = check_missing(list_matches_countries_home, df_ranking2, 'Team')

In [ ]:
missing_list

['United States',
 'Korea, Rep.',
 'Ireland',
 'Russian Federation',
 'China',
 'Turkiye',
 'Iran, Islamic Rep.',
 "Cote d'Ivoire",
 'Slovak Republic',
 "Korea, Dem. People's Rep.",
 'Egypt, Arab Rep.',
 'Virgin Islands (U.S.)']

In [ ]:
map_ranking = {'Korea Republic': 'Korea, Rep.',
               'Republic of Ireland': 'Ireland',
               'Czech Republic': 'Czechia',
               'Russia': 'Russian Federation',
               'USA':'United States',
               'IR Iran': 'Iran, Islamic Rep.',
               'Turkey': 'Turkiye',
               'China PR': 'China',
               'Côte d\'Ivoire':'Cote d\'Ivoire',
               'Slovakia': 'Slovak Republic',
               'Korea DPR': 'Korea, Dem. People\'s Rep.',
               'Serbia and Montenegro': 'Serbia',
               'Egypt': 'Egypt, Arab Rep.',
               'Venezuela': 'Venezuela, RB',
               'US Virgin Islands': 'Virgin Islands (U.S.)',
               'FYR Macedonia': 'North Macedonia'}

In [ ]:
df_ranking2['Team'] = df_ranking2['Team'].map(map_ranking).fillna(df_ranking2['Team'])

In [ ]:
missing_list = check_missing(list_matches_countries_home, df_ranking2, 'Team')
missing_list

[]

In [ ]:
def add_fifa_ranking_attr(df_ranking2, df_match_eco_elo):  

    for row in df_match_eco_elo.index:
        
        for column in df_ranking2[['WorldCup', 'Team', 'RK','PTS']].columns.tolist()[2:]:
            year_match = df_match_eco_elo.loc[row, 'Year']
            #print(f'row = {row}, column = {column}, year = {year_match}')

            if (df_ranking2['Team'] == df_match_eco_elo.loc[row, 'Home Team Name']).any():                
                if len(df_ranking2[(df_ranking2['Team'] == df_match_eco_elo.loc[row, 'Home Team Name']) & (df_ranking2['WorldCup'] == year_match)][column]) > 0:
                    df_match_eco_elo.loc[row, 'Home_FIFA_' + column] = df_ranking2[(df_ranking2['Team'] == df_match_eco_elo.loc[row, 'Home Team Name']) & (df_ranking2['WorldCup'] == year_match)][column].values[0]
            
            else: 
                df_match_eco_elo.loc[row, 'Home_FIFA_' + column] = np.nan
    
            if (df_ranking2['Team'] == df_match_eco_elo.loc[row, 'Away Team Name']).any():
                if len(df_ranking2[(df_ranking2['Team'] == df_match_eco_elo.loc[row, 'Away Team Name']) & (df_ranking2['WorldCup'] == year_match)][column]) > 0:
                    df_match_eco_elo.loc[row, 'Away_FIFA_' + column] = df_ranking2[(df_ranking2['Team'] == df_match_eco_elo.loc[row, 'Away Team Name']) & (df_ranking2['WorldCup'] == year_match)][column].values[0]
            
            else: 
                df_match_eco_elo.loc[row, 'Away_FIFA_' + column] = np.nan

        
    return df_match_eco_elo

In [ ]:
df_match_eco_elo_fifa = add_fifa_ranking_attr(df_ranking2, df_match_eco_elo)

# 3. Inserting Team Continent Variable

In [ ]:
df_continents = pd.read_csv('./datasets/international_matches_raw.csv')

In [ ]:
list_of_home = df_match_eco_elo_fifa['Home Team Name'].unique().tolist()

In [ ]:
missing_list = check_missing(list_of_home, df_continents, 'home_team')

In [ ]:
map_missing_cont = {'USA': 'United States',
                    'Korea Republic': 'Korea, Rep.',
                    'Republic of Ireland': 'Ireland',
                    'Russia': 'Russian Federation',
                    'China PR': 'China',
                    'Turkey': 'Turkiye',
                    'Czech Republic': 'Czechia',
                    'IR Iran': 'Iran, Islamic Rep.',
                    'Ivory Coast': "Cote d'Ivoire",
                    'Côte d\'Ivoire': "Cote d'Ivoire",
                    'Slovakia': 'Slovak Republic',
                    'Korea DPR': "Korea, Dem. People's Rep.",
                    'Egypt': 'Egypt, Arab Rep.',
                    'Venezuela': 'Venezuela, RB',
                    'US Virgin Islands': 'Virgin Islands (U.S.)'}

In [ ]:
df_continents['home_team'] = df_continents['home_team'].map(map_missing_cont).fillna(df_continents['home_team'])

In [ ]:
missing_list = check_missing(list_of_home, df_continents, 'home_team')

In [ ]:
missing_list

['Yugoslavia']

In [ ]:
dict_of_continents = df_continents[['home_team', 'home_team_continent']].set_index('home_team').to_dict()['home_team_continent']

In [ ]:
dict_of_continents.update({'Yugoslavia': 'Europe'})

In [ ]:
df_match_eco_elo_fifa_continents = df_match_eco_elo_fifa.copy()

In [ ]:
df_match_eco_elo_fifa_continents['Home Team Continent'] = df_match_eco_elo_fifa_continents['Home Team Name'].map(dict_of_continents).fillna(df_match_eco_elo_fifa_continents['Home Team Continent'])
df_match_eco_elo_fifa_continents['Away Team Continent'] = df_match_eco_elo_fifa_continents['Away Team Name'].map(dict_of_continents).fillna(df_match_eco_elo_fifa_continents['Away Team Continent'])

In [ ]:
df_match_eco_elo_fifa_continents[df_match_eco_elo_fifa_continents['Away Team Continent'].isna()]

Empty DataFrame
Columns: [Year, Datetime, Home Team Name, Away Team Name, Home Team Goals, Away Team Goals, Home_GDP, Home_POP, Home_INC, Away_GDP, Away_POP, Away_INC, Home_RK, Away_RK, Home_Rating, Away_Rating, Home_AverageRank, Away_AverageRank, Home_AverageRating, Away_AverageRating, Home_YearRank, Away_YearRank, Home_YearRating, Away_YearRating, Home_MatchesTotal, Away_MatchesTotal, Home_MathcesHome, Away_MathcesHome, Home_MatchesAway, Away_MatchesAway, Home_MatchesNeutral, Away_MatchesNeutral, Home_MatchesWins, Away_MatchesWins, Home_MatchesLosses, Away_MatchesLosses, Home_MatchesDraws, Away_MatchesDraws, Home_GoalsFor, Away_GoalsFor, Home_GoalsAgainst, Away_GoalsAgainst, Home_FIFA_RK, Away_FIFA_RK, Home_FIFA_PTS, Away_FIFA_PTS, Home Team Continent, Away Team Continent]
Index: []

[0 rows x 48 columns]

# 4. Saving into CSV

In [ ]:
new_order = ['Year', 'Datetime', 'Home Team Name', 'Away Team Name','Home Team Continent',
             'Away Team Continent', 'Home_GDP', 'Home_POP',
             'Home_INC', 'Away_GDP', 'Away_POP', 'Away_INC', 'Home_RK', 'Away_RK',
             'Home_Rating', 'Away_Rating', 'Home_AverageRank', 'Away_AverageRank',
             'Home_AverageRating', 'Away_AverageRating', 'Home_YearRank',
             'Away_YearRank', 'Home_YearRating', 'Away_YearRating',
             'Home_MatchesTotal', 'Away_MatchesTotal', 'Home_MathcesHome',
             'Away_MathcesHome', 'Home_MatchesAway', 'Away_MatchesAway',
             'Home_MatchesNeutral', 'Away_MatchesNeutral', 'Home_MatchesWins',
             'Away_MatchesWins', 'Home_MatchesLosses', 'Away_MatchesLosses',
             'Home_MatchesDraws', 'Away_MatchesDraws', 'Home_GoalsFor',
             'Away_GoalsFor', 'Home_GoalsAgainst', 'Away_GoalsAgainst',
             'Home_FIFA_RK', 'Away_FIFA_RK', 'Home_FIFA_PTS', 'Away_FIFA_PTS',
             'Home Team Goals', 'Away Team Goals']

In [ ]:
df_match_eco_elo_fifa_continents = df_match_eco_elo_fifa_continents[new_order]

In [ ]:
df_final = df_match_eco_elo_fifa_continents.drop_duplicates()

In [ ]:
df_final.to_csv('./datasets/final_dataset/finished_dataset.csv')