# 0. Imports

In [32]:
import pandas as pd

# 1. Load Data

In [33]:
df1 = pd.read_csv('./datasets/international_matches_raw.csv')

In [34]:
df1.tournament.unique()

array(['FIFA World Cup qualification', 'Friendly',
       'African Cup of Nations qualification', 'Amílcar Cabral Cup',
       'CFU Caribbean Cup qualification',
       'United Arab Emirates Friendship Tournament',
       'Malta International Tournament', 'Lunar New Year Cup',
       'African Cup of Nations', 'CFU Caribbean Cup',
       'UEFA Euro qualification', 'Kirin Cup', 'FIFA World Cup',
       'Oceania Nations Cup qualification', 'Baltic Cup', 'Gulf Cup',
       'Simba Tournament', 'CECAFA Cup', 'Confederations Cup',
       'Dynasty Cup', "King's Cup", 'Nehru Cup', 'SAFF Cup',
       'Copa Paz del Chaco', 'Korea Cup', 'USA Cup', 'Copa América',
       'Merdeka Tournament', 'South Pacific Games', 'UNCAF Cup',
       'Oceania Nations Cup', 'Windward Islands Tournament', 'Gold Cup',
       'AFC Asian Cup qualification', 'UEFA Euro', 'AFF Championship',
       'AFC Asian Cup', 'King Hassan II Tournament',
       'Cyprus International Tournament', 'Dunhill Cup',
       'COSAFA Cup qualification', 'COSAFA Cup', 'Tournoi de France',
       'Gold Cup qualification', 'SKN Football Festival',
       'Arab Cup qualification', 'Arab Cup', 'UNIFFAC Cup',
       'Nordic Championship', 'WAFF Championship', 'Millennium Cup',
       'Cup of Ancient Civilizations', "Prime Minister's Cup",
       'EAFF Championship', 'TIFOCO Tournament', 'Afro-Asian Games',
       'AFC Challenge Cup', 'Copa del Pacífico',
       'AFC Challenge Cup qualification', 'African Nations Championship',
       'VFF Cup', 'Dragon Cup', 'Nile Basin Tournament', 'Nations Cup',
       'Copa Confraternidad', 'Pacific Games',
       'Superclásico de las Américas', 'ABCS Tournament',
       'Kirin Challenge Cup', 'OSN Cup', 'Copa América qualification',
       'Pacific Mini Games', 'Intercontinental Cup',
       'AFF Championship qualification', 'UEFA Nations League',
       'CONCACAF Nations League qualification',
       'African Nations Championship qualification',
       'CONCACAF Nations League', 'Three Nations Cup',
       'Mahinda Rajapaksa Cup', 'Navruz Cup',
       'CONMEBOL–UEFA Cup of Champions'], dtype=object)

In [35]:
new_countries = ['Canada', 'Qatar', 'Wales']
df11 = pd.DataFrame()
df11 = pd.concat([df11, df1[df1.home_team.isin(new_countries)], df1[df1.away_team.isin(new_countries)]])

In [36]:
df11 = df11[['date', 'home_team', 'away_team', 'home_team_score', 'away_team_score']]

In [37]:
df11.columns = ['Datetime', 'Home Team Name','Away Team Name', 'Home Team Goals', 'Away Team Goals']

In [38]:
df11['Datetime'] = pd.to_datetime(df11['Datetime'])
df11['Year'] = df11['Datetime'].dt.year

In [39]:
cols_order = ['Year', 'Datetime', 'Home Team Name','Away Team Name', 'Home Team Goals', 'Away Team Goals']
df11 = df11[cols_order].reset_index(drop=True)

In [40]:
df_final = pd.DataFrame()

In [41]:
df_final = pd.concat([df_final, df11[df11.Year == 2014], df11[df11.Year == 2018]])

In [43]:
df_final.shape

(52, 6)

In [44]:
df_final['Year'] = df_final.Year.astype('Int64')

In [45]:
df_final

,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
336,2014,2014-01-04,Qatar,Kuwait,3,0
337,2014,2014-01-07,Qatar,Jordan,2,0
338,2014,2014-03-05,Qatar,Bahrain,0,0
339,2014,2014-03-05,Wales,Iceland,3,1
340,2014,2014-07-14,Qatar,Indonesia,2,2
341,2014,2014-09-09,Qatar,Peru,0,2
342,2014,2014-10-06,Qatar,Uzbekistan,3,0
343,2014,2014-10-09,Qatar,Lebanon,5,0
344,2014,2014-10-10,Wales,Bosnia and Herzegovina,0,0
345,2014,2014-10-13,Wales,Cyprus,2,1
346,2014,2014-10-14,Qatar,Australia,1,0
347,2014,2014-11-06,Qatar,Korea DPR,3,1
348,2014,2014-12-27,Qatar,Estonia,3,0
349,2014,2014-12-31,Qatar,Oman,2,2
751,2014,2014-05-23,Bulgaria,Canada,1,1
752,2014,2014-05-27,Moldova,Canada,1,1
753,2014,2014-05-30,North Macedonia,Qatar,0,0
754,2014,2014-06-04,Netherlands,Wales,2,0
755,2014,2014-09-03,Morocco,Qatar,0,0
756,2014,2014-09-09,Andorra,Wales,1,2
757,2014,2014-11-13,Saudi Arabia,Qatar,1,1
758,2014,2014-11-16,Belgium,Wales,0,0
759,2014,2014-11-16,Yemen,Qatar,0,0
760,2014,2014-11-18,Panama,Canada,0,0
761,2014,2014-11-19,Bahrain,Qatar,0,0
762,2014,2014-11-23,Oman,Qatar,1,3
763,2014,2014-11-26,Saudi Arabia,Qatar,1,2
403,2018,2018-03-24,Canada,New Zealand,1,0
404,2018,2018-03-24,Qatar,Syria,2,2
405,2018,2018-03-26,Wales,Uruguay,0,1
406,2018,2018-09-06,Wales,Republic of Ireland,4,1
407,2018,2018-09-07,Qatar,China PR,1,0
408,2018,2018-09-11,Qatar,Palestine,3,0
409,2018,2018-10-11,Wales,Spain,1,4
410,2018,2018-10-12,Qatar,Ecuador,4,3
411,2018,2018-10-16,Canada,Dominica,5,0
412,2018,2018-11-16,Wales,Denmark,1,2
413,2018,2018-12-23,Qatar,Jordan,2,0
414,2018,2018-12-25,Qatar,Kyrgyz Republic,1,0
415,2018,2018-12-27,Qatar,Algeria,0,1
416,2018,2018-12-31,Qatar,IR Iran,1,2
807,2018,2018-03-21,Iraq,Qatar,2,3
808,2018,2018-03-22,China PR,Wales,0,6
809,2018,2018-05-28,Mexico,Wales,0,0
810,2018,2018-09-09,Denmark,Wales,2,0
811,2018,2018-09-09,US Virgin Islands,Canada,0,8
812,2018,2018-10-16,Republic of Ireland,Wales,0,1
813,2018,2018-10-16,Uzbekistan,Qatar,2,0
814,2018,2018-11-14,Switzerland,Qatar,0,1
815,2018,2018-11-18,St. Kitts and Nevis,Canada,0,1
816,2018,2018-11-19,Iceland,Qatar,2,2
817,2018,2018-11-20,Albania,Wales,1,0

In [47]:
df_final.to_csv('./datasets/synth_data.csv')