# 0. Imports

In [16]:
import pandas as pd

# 1. Data Loading

In [17]:
df_raw = pd.read_csv('./datasets/WorldCupMatches_raw.csv')

In [18]:
df_raw.shape

(852, 20)

In [19]:
columns_filter = ['Year',
                  'Datetime',
                  #'Stage',
                  #'Stadium',
                  #'City',
                  'Home Team Name',
                  'Away Team Name',
                  #'Win conditions',
                  #'Attendance',
                  #'Half-time Home Goals',
                  #'Half-time Away Goals',
                  #'Referee',
                  #'Assistant 1',
                  #'Assistant 2',
                  #'RoundID',
                  #'MatchID',
                  #'Home Team Initials',
                  #'Away Team Initials',
                  'Home Team Goals',
                  'Away Team Goals'
                  ]
df1 = df_raw[columns_filter]

In [20]:
df1.head()

,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,1930,13 Jul 1930 - 15:00,France,Mexico,4,1
1,1930,13 Jul 1930 - 15:00,USA,Belgium,3,0
2,1930,14 Jul 1930 - 12:45,Yugoslavia,Brazil,2,1
3,1930,14 Jul 1930 - 14:50,Romania,Peru,3,1
4,1930,15 Jul 1930 - 16:00,Argentina,France,1,0

## 1.1 Loading 2018 Dataset

In [21]:
df_2018 = pd.read_csv('./datasets/2018_worldcup_v3.csv')
df_2018 = df_2018[columns_filter]
df_2018.head()

,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,2018,14 Jun 2018 - 18:00,Russia,Saudi Arabia,5,0
1,2018,15 Jun 2018 - 17:00,Egypt,Uruguay,0,1
2,2018,15 Jun 2018 - 18:00,Morocco,IR Iran,0,1
3,2018,15 Jun 2018 - 21:00,Portugal,Spain,3,3
4,2018,16 Jun 2018 - 13:00,France,Australia,2,1

In [22]:
df1_complete = pd.concat([df1, df_2018], axis = 0, ignore_index=True)

In [23]:
df1_complete.head()

,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,1930,13 Jul 1930 - 15:00,France,Mexico,4,1
1,1930,13 Jul 1930 - 15:00,USA,Belgium,3,0
2,1930,14 Jul 1930 - 12:45,Yugoslavia,Brazil,2,1
3,1930,14 Jul 1930 - 14:50,Romania,Peru,3,1
4,1930,15 Jul 1930 - 16:00,Argentina,France,1,0

## 1.2 Loading 2022 Template

In [24]:
df_2022 = pd.read_csv('./datasets/2022_world_cup_template.csv')

In [25]:
df_2022['Datetime'] = pd.to_datetime(df_2022.Datetime, dayfirst=False, infer_datetime_format=True)

def format_time(row):
    return row['Datetime'].strftime('%d %b %Y - %H:%M')

df_2022['Datetime'] = df_2022.apply(format_time, axis=1)

In [26]:
df_2022

,Year,Datetime,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals
0,2022,20 Nov 2022 - 19:00,Qatar,Ecuador,NaN,NaN
1,2022,21 Nov 2022 - 19:00,Senegal,Netherlands,NaN,NaN
2,2022,21 Nov 2022 - 16:00,England,Iran,NaN,NaN
3,2022,21 Nov 2022 - 22:00,United States,Wales,NaN,NaN
4,2022,22 Nov 2022 - 22:00,France,Australia,NaN,NaN
5,2022,22 Nov 2022 - 16:00,Denmark,Tunisia,NaN,NaN
6,2022,22 Nov 2022 - 19:00,Mexico,Poland,NaN,NaN
7,2022,22 Nov 2022 - 13:00,Argentina,Saudi Arabia,NaN,NaN
8,2022,23 Nov 2022 - 22:00,Belgium,Canada,NaN,NaN
9,2022,23 Nov 2022 - 19:00,Spain,Costa Rica,NaN,NaN
10,2022,23 Nov 2022 - 16:00,Germany,Japan,NaN,NaN
11,2022,23 Nov 2022 - 13:00,Morocco,Croatia,NaN,NaN
12,2022,24 Nov 2022 - 13:00,Switzerland,Cameroon,NaN,NaN
13,2022,24 Nov 2022 - 16:00,Uruguay,"Korea, Rep.",NaN,NaN
14,2022,24 Nov 2022 - 19:00,Portugal,Ghana,NaN,NaN
15,2022,24 Nov 2022 - 22:00,Brazil,Serbia,NaN,NaN
16,2022,25 Nov 2022 - 13:00,Wales,Iran,NaN,NaN
17,2022,25 Nov 2022 - 16:00,Qatar,Senegal,NaN,NaN
18,2022,25 Nov 2022 - 19:00,Netherlands,Ecuador,NaN,NaN
19,2022,25 Nov 2022 - 22:00,England,United States,NaN,NaN
20,2022,26 Nov 2022 - 13:00,Tunisia,Australia,NaN,NaN
21,2022,26 Nov 2022 - 16:00,Poland,Saudi Arabia,NaN,NaN
22,2022,26 Nov 2022 - 19:00,France,Denmark,NaN,NaN
23,2022,26 Nov 2022 - 22:00,Argentina,Mexico,NaN,NaN
24,2022,27 Nov 2022 - 13:00,Japan,Costa Rica,NaN,NaN
25,2022,27 Nov 2022 - 16:00,Belgium,Morocco,NaN,NaN
26,2022,27 Nov 2022 - 19:00,Croatia,Canada,NaN,NaN
27,2022,27 Nov 2022 - 22:00,Spain,Germany,NaN,NaN
28,2022,28 Nov 2022 - 13:00,Cameroon,Serbia,NaN,NaN
29,2022,28 Nov 2022 - 16:00,"Korea, Rep.",Ghana,NaN,NaN
30,2022,28 Nov 2022 - 19:00,Brazil,Switzerland,NaN,NaN
31,2022,28 Nov 2022 - 22:00,Portugal,Uruguay,NaN,NaN
32,2022,29 Nov 2022 - 22:00,Wales,England,NaN,NaN
33,2022,29 Nov 2022 - 22:00,Iran,United States,NaN,NaN
34,2022,29 Nov 2022 - 18:00,Ecuador,Senegal,NaN,NaN
35,2022,29 Nov 2022 - 18:00,Netherlands,Qatar,NaN,NaN
36,2022,30 Nov 2022 - 18:00,Australia,Denmark,NaN,NaN
37,2022,30 Nov 2022 - 18:00,Tunisia,France,NaN,NaN
38,2022,30 Nov 2022 - 22:00,Poland,Argentina,NaN,NaN
39,2022,30 Nov 2022 - 22:00,Saudi Arabia,Mexico,NaN,NaN
40,2022,01 Dec 2022 - 18:00,Croatia,Belgium,NaN,NaN
41,2022,01 Dec 2022 - 18:00,Canada,Morocco,NaN,NaN
42,2022,01 Dec 2022 - 22:00,Japan,Spain,NaN,NaN
43,2022,01 Dec 2022 - 22:00,Costa Rica,Germany,NaN,NaN
44,2022,02 Dec 2022 - 18:00,Ghana,Uruguay,NaN,NaN
45,2022,02 Dec 2022 - 18:00,"Korea, Rep.",Portugal,NaN,NaN
46,2022,02 Dec 2022 - 22:00,Serbia,Switzerland,NaN,NaN
47,2022,02 Dec 2022 - 22:00,Cameroon,Brazil,NaN,NaN

In [27]:
df1_complete2 = pd.concat([df1_complete, df_2022], axis = 0, ignore_index=True)

# 2. Creating Dataset

In [13]:
df2 = df1_complete2.copy()

In [14]:
df = df2.drop_duplicates()

In [15]:
df2.to_csv('./datasets/WorldCupMatches.csv')